body {
  text-align: center;
}

.nav-bar {
  background: HotPink;
  height: 48px;
}

.nav-bar span {
  padding: 15px;
  }

.nav-bar span:first-of-type:hover {
  cursor: pointer;
}

.nav-bar div {
  margin: auto;
  width: 524px;
  display: inline-block;
}

.nav-bar div span {
  float: left;
  margin-right: 90px;
}

.nav-bar div span:last-of-type {
  float: right;
  margin-right: 0px;
}

.header {
  background: white;
  text-align: center;
  margin: 0px;
  padding: 20px;
}

.container {
  width: 100%;
}

.game-count {
  width: 30%;
  float:left;
  text-align: left;
}

.board {
  padding-top: 100px;
  width: 100%;
}

.card {
  margin: 10px;
  display: inline-block;
  width: 110px;
  height: 110px;
  border-radius: 10px;
}

.card:hover {
  box-sizing: border-box;
}

.no-hover {
  pointer-events: none;
}

.board img {
  width: 110px; height: 110px; object-fit: cover;
}

.boxshadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
  padding: 15px;
  background: HotPink;
  display: inline-block;
  cursor: pointer;
}